html{
    font-size: 62.5%;
}
body{
    font-family: Circular, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 1.6em;
    color: $Gray;
}

a{
    text-decoration: none;
    
}
a:hover{
    text-decoration: underline;
}

ul{
    list-style: none;
}

button{
    appearance: none;
    outline: none;
}